<h1>Stupid Coaching</h1>


<div class='info'>
  <p><%= @query %></p>
  <footer class="blockquote-footer">You</footer>
</div>
<div class='info' id="card-coach">
  <p><%= @answer %></p>
  <footer class="blockquote-footer">Your coach</footer>
</div>
<div id="link">
  <%= link_to "Ask a new question", ask_path %>
</div>
