<h1>Stupid Coaching</h1>
<p>Ask your coach anything!</p>

<nav class="navbar navbar-light bg-light">
  <div class="container-fluid">
    <form class="d-flex" form action="/answer" data-turbo="false">
      <input class="form-control me-2" type="text" name="query">
      <button class="btn btn-primary" type="submit">Ask!</button>
    </form>
  </div>
</nav>
